:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-dark-l: #545454;
  --color-light-l: #f6f6f6;
  --color-dark-s: #cdcdcd;
  --color-light-s: #fafafa;
  --color-dark-xl: #4c4c4c;
  --color-dark-3xl: #292929;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  padding: 30px 40px;
  padding-bottom: 0px;
  margin: 0 auto;
  background: radial-gradient(234.05% 111.8% at 0% 0%, #262425, #5b483a 100%),
    #211f20;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  align-items: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 2px;
  color: var(--color-primary);
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
}

.subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  color: var(--color-light-l);
  margin-top: 10px;
  letter-spacing: 1px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  float: right;
  gap: 35px;
}

nav ul a {
  text-decoration: none;
  color: var(--color-dark-s);
  font-weight: 400;
}

a:hover {
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
}

nav ul li {
  display: inline-block;
  padding: none;
  margin: none;
  font-size: 15px;
  padding-top: 16px;
  padding-bottom: 20px;
}

.content {
  width: 460px;
  height: 322px;
  padding-bottom: 243px;
  padding-top: 253px;
  /* flex-direction: column;
    align-items: flex-start; */
}

.heading {
  color: var(--color-light-l);
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  width: 310px;
  height: 114px;
  margin: 0;
  padding-bottom: 42px;
}

.subheading {
  color: var(--color-dark-s);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0px;
  padding-bottom: 42px;
  margin: 0;
}

.button_primary {
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  font-size: 17px;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: var(--color-primary);
  border: none;
}

.button_primary:hover {
  background-color: var(--color-primary-light);
}

.image-start-puppy {
  width: 698px;
  height: 728px;
  padding-left: 42px;
  padding-top: 90px;
}

.container-description {
  display: flex;
}

/* //////////////////// */

.container-2 {
  width: 1280px;
  background-color: rgb(255, 255, 255);
  position: relative;
  bottom: 25px;
  padding: 0;
  margin: 0 auto;
}
.descr {
  padding: 80px 40px 100px 40px;
  display: flex;
}

.image-about-pets {
  width: 300px;
  height: 408px;
  padding-left: 175px;
}

.content-2 {
  width: 430px;
  height: 380px;
  padding-left: 120px;
}

.heading-2 {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 3px;
  color: var(--color-dark-l);
}

.subheading-2 {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0px;
  color: var(--color-dark-xl);
}

/* ///////////////////////// */

.container-3 {
  width: 1280px;
  background-color: var(--color-light-l);
  position: relative;
  bottom: 49px;
  padding: 0;
  margin: 0 auto;
}

.pets-content {
  padding: 80px 40px 100px 40px;
}

.heading-3 {
  padding-left: 440px;
  padding-right: 440px;
  padding-bottom: 60px;
  color: var(--color-dark-l);
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 6%;
  text-align: center;
}

.head-p {
  margin: 0;
}

.pets-photos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .button-arrow{

} */

.button-arrow {
  border: 2px solid rgb(241, 205, 179);
  border-radius: 100px;
  background-color: var(--color-light-l);
  width: 52px;
  height: 52px;
  position: relative;
}

.button-arrow:hover {
  background-color: var(--color-primary-light);
}

.butt {
  position: absolute;
  top: 16px;
  left: 18px;
  padding: 0;
  margin: 0;
  background-color: rgb(246, 246, 246);
  border: none;
  background: var(--color-light-l);
}

.card {
  width: 270px;
  height: 435px;
  background-color: var(--color-light-s);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-cards {
  color: var(--color-dark-l);
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 6%;
  text-align: center;
}

.button-cards {
  padding: 15px 45px 15px 45px;
  border: 2px solid rgb(241, 205, 179);
  border-radius: 100px;
  background-color: var(--color-light-s);
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
}

.button-cards:hover {
  background-color: var(--color-primary-light);
  border: none;
}

.but {
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  font-size: 17px;
  width: 261px;
  height: 52px;
  border-radius: 100px;
  background-color: var(--color-primary);
  border: none;
}

.but:hover {
  background-color: var(--color-primary-light);
}

.button_primary-2 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

/* ///////////////////////////// */

.container-4 {
  width: 1280px;
  background-color: rgb(255, 255, 255);
  position: relative;
  bottom: 49px;
  padding: 0;
  margin: 0 auto;
}

.pets-content-2 {
  padding: 80px 40px 45px 40px;
}

.heading-4 {
  padding-left: 440px;
  padding-right: 440px;
  padding-bottom: 60px;
  color: var(--color-dark-l);
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 6%;
  text-align: center;
  margin: 0;
}

.head-p2 {
  margin: 0;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.help-icons {
  padding-bottom: 55px;
  width: calc((100% / 5) - 20px);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(84, 84, 84);
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 6%;
}

/* //////////////////////////////////// */

.container-5 {
  width: 1280px;
  background-color: var(--color-light-l);
  position: relative;
  bottom: 49px;
  padding: 0;
  margin: 0 auto;
}

.pets-content-3 {
  display: flex;
  padding: 80px 182px 100px 182px;
}

.image-pets {
}

.inf-about-donat {
  padding-left: 30px;
}

.heading-5 {
  color: rgb(84, 84, 84);
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 6px;
  text-align: left;
  margin: 0;
}

.name-of-bank {
  color: rgb(84, 84, 84);
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.credit-card {
  color: rgb(84, 84, 84);
  font-family: Georgia;
  font-size: 20px;
  display: flex;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 2px;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #f1cdb3;
  border-radius: 9px;
  padding: 10px 15px 10px 15px;
}

.img-card {
  width: 30px;
  height: 23px;
  padding-right: 15px;
}

.numbers {
  margin: 0;
}

.last-p {
  color: rgb(178, 178, 178);
  font-family: Arial;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

/* ///////////////////////////////////////// */

.container-6 {
  width: 1280px;
  background: radial-gradient(234.05% 111.8% at 0% 0%, #262425, #5b483a 100%),
    #211f20;
  position: relative;
  bottom: 74px;
  padding: 0;
  margin: 0 auto;
}

.pets-content-4 {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  display: flex;
}

.contacts {
  width: 278px;
  height: 234px;
  padding-right: 160px;
}

.last-heading {
  color: rgb(255, 255, 255);
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2px;
  text-align: left;
  padding-top: 16px;
  margin: 0;
}

.contact-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts-png {
  width: 40px;
  height: 26px;
  padding-right: 20px;
}

.location-png {
  width: 22px;
  height: 32px;
  padding-right: 20px;
}

.footer-p {
  color: rgb(241, 205, 179);
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 6%;
  text-align: left;
  margin: 0;
}

.contact-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.locations {
  width: 302px;
  height: 234px;
  padding-right: 160px;
}

.location-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 32px;
}

.location-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.last-photo {
  width: 300px;
  height: 310px;
}
